# Makefile for libcalman
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = calman

LIB_SRCC = \
	call_manager.cpp

LIB_EXT_LIB_NAMES = \
	scheduler \
	simple_voip \
	simple_voip_dummy \
	config_reader \
	utils \
	dtmf_tools \
