# Makefile for libcalman
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = calman

LIB_BOOST_LIB_NAMES := system regex

LIB_SRCC = \
	call.cpp \
	call_manager.cpp

LIB_EXT_LIB_NAMES = \
	dialer_detect \
	dialer \
	skype_service \
	skype_io \
	utils \
	scheduler \
	tcp_dtmf_detector \
	tcp_data_receiver \
	dtmf_detector
