# Makefile for libcalman
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER := 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system regex

APP_THIRDPARTY_INCL_PATH =

APP_THIRDPARTY_LIBS = -lm -lstdc++ $(shell pkg-config --libs dbus-1)
APP_THIRDPARTY_LIBS_PATH =

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	dialer_detect \
	dialer \
	skype_service \
	skype_io \
	utils \
	scheduler \
	tcp_dtmf_detector \
	tcp_data_receiver \
	dtmf_detector
